* {
    box-sizing: border-box;
}

:root {
    --bg-color: #fffaf5;
    --btn-color: #FF5B2E; 
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--btn-color);
    border-color: var(--btn-color);
}

input, textarea, select, button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}