/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #fe997b;
    border-radius: 16px;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    position: relative;
}

.hero__img-wrap-small {
    align-self: flex-end;
    background: #FAA7AD;
    width: 186px;
    height: 244px;
    margin-left: -20px;
    margin-bottom: -58px;
    border: 2px solid #f7dddf;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor.decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor.decor-right {
    right: -40px;
    top: 17px;
}

.hero__list {
    width: 250px;
    height: 156px;
    background: #fff;
    padding: 18px 14px;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-list-item {
    display: flex;
    align-items: center;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item__thumb.color {
    background: #C6E2FA;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52; 
}

.hero-list-item__skeleton {
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
    margin-top: 6px;
}

.hero-list-item__separate {
    width: 222px;
    height: 2px;
    background: #F2F2F2;
    border-radius: 10px;
    margin: 20px 0;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 391px;
}

.hero-row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    min-width: 189px;
    --height: 60px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; 
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 113px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about__media {
    position: relative;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__label {
    font-family: Sora, sans-serif;
    color: #5E6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
}
.about__check-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}
.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../icons/icon-check.svg);
    position: absolute;
    top: 3px;
    left: 5px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    padding: 31px 26px 29px;
    text-align: center;
}

.about__card-title {
    color: #FFF;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    color: #C6F4F9;
    font-size: 1.4rem;
    line-height: 1.42;
    margin-top: 14px;
}

.about__card-decor {
    position: absolute;
    top: -40px;
    right: -33px;
}

.about__img-wrap {
    width: 494px;
    position: relative;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    position: absolute;
    inset: auto 0 0 0; /* (position) top right bottom left */
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}